:root {
  --bg-color: #ecf0f5;
  --login-bg-color: white;
  --inputFieldBackgroundColor: #fcfcfcf3;
  --buttonColor: #0004ff;
  --mainFontColor: #ffff;
  --linkFontColor: #182fff;
}

.layoutStyle {
  background-color: var(--bg-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
