
/* Main page */
.mainSection {
  /* width: 100%; */
  max-width: 600px;
  margin: 0 auto 0 auto;
  font-size: 16px;
  height: 100vh;
  position: relative;
}

.mainHeader {
  padding-top: 1em;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
}

.headerMain {
  font-size: 16px;
}

.headerText {
  margin-top: 2em;
  text-align: center;
}

.authContainer {
  position: absolute;
  top: 50%;
  width: 100%;
  translate: 0% -100%;
}

.loginText {
  text-align: center;
}

.loginContainer {
  font-weight: 400;
  border: 1px dotted red; 
  background-color: var(--login-bg-color);
  border-radius: 1em; 
}